:root {
  --primary-blue: #3498db;
}

/* ------Global CSS Start------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #444444;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
/* ------Global CSS End------ */

/* ------Navbar CSS Start------ */
nav {
  position: sticky;
  top: 0;
}

.nav-main {
  display: flex;
  justify-content: space-evenly;
  padding: 22px 0;
  position: sticky;
  top: 0;
  right: 0;
}

.nav-logo {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}

.nav-logo a {
  color: #222222;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
}

.nav-content ul li {
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.nav-content ul li a {
  color: #555555;
  font-size: 15px;
  font-weight: 400;
}

.nav-content ul li a:hover,
.nav-content ul li a:focus {
  color: var(--primary-blue);
}

.nav-btn {
  background-color: var(--primary-blue);
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 300px;
  letter-spacing: 1px;
  transition: 300ms;
}

.nav-btn:hover {
  background-color: #2383c4;
}
/* ------Navbar CSS End------ */

#portfolio-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-details {
  padding: 40px 0 60px 0;
  width: 82%;
  display: flex;
  gap: 30px;
}

#portfolio-details .container {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}

#portfolio-details .title {
  width: 82%;
  display: flex;
  justify-content: space-between;
}

.portfolio-details .portfolio-details-left {
  width: 65%;
  flex-shrink: 0;
}

.portfolio-details .slider {
  display: flex;
  position: relative;
}

.portfolio-details .slider .slider-inner {
  display: flex;
  overflow: hidden;
}

.slider .slide-auto {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: -25px;
}

.slider .slide-auto div {
  padding: 5px;
  border: 1px solid var(--primary-blue);
  border-radius: 50%;
  cursor: pointer;
}


#radio1:checked ~ .slide-inner img {
  left: 0;
}

#radio2:checked ~ .slide-inner img {
  left: -52%;
}

#radio3:checked ~ .slide-inner img {
  left: -104%;
}

.slide-manual {
  margin-top: 13px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.manual-btn {
  border: 1px solid var(--primary-blue);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.slide-auto .auto-b1 {
  transition: all 300ms;
}

#radio1:checked ~ .slide-auto .auto-b1 {
  background: var(--primary-blue);
}

#radio2:checked ~ .slide-auto .auto-b2 {
  background: var(--primary-blue);
}

#radio3:checked ~ .slide-auto .auto-b3 {
  background: var(--primary-blue);
}

.portfolio-details-left img {
  width: 100%;
}

.portfolio-details input {
  display: none;
}

.portfolio-details-right .right-card {
  padding: 30px;
  box-shadow: 0px 0 30px rgb(34 34 34 / 8%);
}

.portfolio-details-right .right-card h3 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1pa solid #eee;
  font-size: 22px;
  font-weight: 700;
}

.portfolio-details-right .right-card ul li + li {
  margin-top: 10px;
}

.portfolio-details-right .right-text {
  padding-top: 20px;
}

/* ------Footer CSS Start------ */
#footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
  font-size: 14px;
  font-weight: 400;
}

.main-footer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.footer-right a {
  color: #222222;
  padding-right: 15px;
}
/* ------Footer CSS End------ */
