/* :root{
    var(--pri)
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Raleway", sans-serif;
}

.nav-logo {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}

.nav-main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
}

.nav-content ul li {
  list-style: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav-content ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  /* letter-spacing: 1px; */
}

.nav-content ul li a:hover,
.nav-content ul li a:focus {
  color: #3498db;
}

.nav-btn {
  background-color: #3498db;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 300px;
  letter-spacing: 1px;
}

#hero-page{
  height: 65vh;
  overflow: hidden;
}

.hero-main {
  height: 100%;
  margin: 0 60px;
  padding: 0 24px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hero-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-left-content {
  padding: 30px;
}

.hero-left-content h1 {
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
}

.hero-left-content h3{
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 500;
  color: #484848;
}

.hero-btn{
  padding: 13px 30px;
  background-color: #fff;
  border: 2px solid #3498db;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #3498db;

}

.hero-right {
  padding-right: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  height: 98%;
  width: 100%;
  animation: hero-img-animation 2000ms ease-in-out infinite alternate-reverse;
}

@keyframes hero-img-animation {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}


#clients{
  background-color: #f3f9fd;
  text-align: center;
  padding: 10px;
}

.client-main{
  width: 100%;
  display: flex;
}

.client-img-box{
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-img-box img{
  width: 50%;
  height: 100%;
  padding: 10px 0;
}