/* :root{
    var(--pri)
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-logo {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}

.nav-main {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
}

.nav-content ul li {
  list-style: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav-content ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  /* letter-spacing: 1px; */
}

.nav-content ul li a:hover,
.nav-content ul li a:focus {
  color: #3498db;
}

.nav-btn {
  background-color: #3498db;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 300px;
  letter-spacing: 1px;
}

#hero-page{
  height: 70vh;
  overflow: hidden;
}

.hero-main {
  height: 100%;
  margin: 0 60px;
  padding: 24px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.hero-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-left-content {
  padding: 40px;
}

.hero-left-content h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  height: 100%;
  width: 100%;
  animation: hero-img-animation 2000ms ease-in-out infinite alternate-reverse;
}

@keyframes hero-img-animation {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}
